#data-title {
    text-align:center;
    font-size:12px;
}
/* based on CODEPEN entry by Steve Calamia */
/* It can be found here https://codepen.io/metagrapher/pen/tgcLl*/
 body {
  -webkit-animation: background 40s cubic-bezier(1,0,0,1) infinite;
  animation: background 40s cubic-bezier(1,0,0,1) infinite;  
}


@-webkit-keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }  
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

@keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }  
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}
#drop-area {
    /*background-color:#BCED91;*/
    -webkit-animation: background 40s cubic-bezier(1,0,0,1) infinite;
    animation: background 40s cubic-bezier(1,0,0,1) infinite;  
    border:2px solid #46523C;
    border-radius:25px;
    height:90px;
    overflow:auto;
    padding:12px;
    margin-top:30px;
}

#drop-area #datasets {
    display:inline-block;
    font-size:small;
    margin-right:8px;
    text-align:center;
    vertical-align:top;
}

.thumb {
    height:45px;
}
